/* Mobile first, default view */
/* hide the skip to main content link. */
.skip a {
    position: absolute;
    top: -1000px;
    z-index: 3;
    color: #000;
    left: 20px;
    transition: top 1s ease-out;
}

/* show the skip to main content link when tabbing */
.skip a:focus {
    top: 60px;
}

#logo {
    width: 200px; 
    height: auto; 
}

/* margin of the body and font family */
body {
    margin: 20px;
    font-family: 'Quicksand', Arial, sans-serif;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    min-height: 75px;
    flex-wrap: wrap;
    background-color: #fff;
}

.change .nav-container {
    flex-direction: column;
    align-items: flex-end;
}

.change .logo {
    display: none;
}

.menu_bars {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #3f3e3e;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

/* set the style for the navigation menu */
nav {
    height: 50px;
    line-height: 30px;
    width: 100%;
    text-align: right;
}

.nav_list {
    display: none;
    height: 70vh;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0 auto;
    justify-content: center;
}

.change .nav_list {
    display: flex;
}

ul {
    list-style: none;
}

nav ul li {
    list-style-type: none;
    margin: 15px 0;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

/* set the style for the navigation menu when in hovering and focus state */
nav a:hover, nav a:focus {
    text-decoration: underline;
    text-transform: uppercase;
}

/* style the active page */
.active {
    text-decoration: underline;
    text-transform: uppercase;
}

main {
    margin-top: 75px;
}

/* make the "Meet The Characters" section be a horizontal scroll bar */
.character-menu {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

.character-name {
    grid-row: 2 / span 1;
}

.character-menu a {
    color: black;
    padding: 30px;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', Arial, sans-serif;
    font-size: 200%;
}

.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.character-menu img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
    transition: all 0.3s ease;
}

/* make the character img bigger when hovering over it */
.character-menu img:hover {
    transform: scale(1.2);
    margin-bottom: 30px;
}

.character-card img:hover ~ .character-name::after {
    width: 100%;
}

.character-name {
    position: relative;
    display: inline-block;
}

.character-name::after {
    content: '';
    position: absolute;
    height: 2px; 
    background: #02B2E7; 
    width: 0;
    left: 0;
    bottom: -2px; 
    transition: width .3s ease-in-out;
}

#intro {
    border: 2px solid #e5feff;
    padding: 0 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(77, 77, 77, 0.7);
    text-align: center;
    line-height: 1.6;
}

#title {
    margin-top: 50px;
}

.welcome {
    font-size: 150%;
}

footer {
    text-align: center;
}

/* Characters pages styling */

#charName {
    text-align: center;
    font-family: 'Gloria Hallelujah', Arial, sans-serif;
    font-size: 200%;
}

#bio {
    text-align: center;
    line-height: 1.8;
}

#funFactsSection {
    text-align: center;
}

#funFactsSection > div {
    padding: 10px;
}

button {
    margin: 15px 15px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    padding: 2px 10px;
    font-size: 100%;
    line-height: 1.5;
    border-radius: 5px;
    font-family: 'Gloria Hallelujah', Arial, sans-serif;
}

#button1 {
    border: 1px solid #E91E23;
    box-shadow: 5px 5px 25px 2px #E91E23;
    background-color: #fff;
}

#button1:hover {
    box-shadow: 5px 5px 25px 2px #E91E23;
}

#button2 {
    border: 1px solid #02B2E7;
    background-color: #fff;
}

#button2:hover {
    box-shadow: 5px 5px 25px 2px #02B2E7;
}

#button3 {
    border: 1px solid #FABC16;
    background-color: #fff;
}

#button3:hover {
    box-shadow: 5px 5px 25px 2px #FABC16;
}

.factImg {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
}
.factDesc {
    max-width: 500px;
    margin: auto;
    padding-top: 20px;
}

.button {
    display: flex;
    justify-content: center;
}

h2 {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 150%;
}

.downSign {
    font-size: 150%;
}

#moments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

#moments iframe {
    margin: 15px;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#main {
    background-image: url("./images/home_bg.png");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    animation: fadeIn 2s;
}

#rachel_main {
    background-image: url("./images/rachel_shopping_bags.png");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    animation: fadeIn 2s;
}

#monica_main {
    background-image: url("./images/monica_mop.png");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    animation: fadeIn 2s;
}

#phoebe_main {
    background-image: url("./images/phoebe_guitar.png");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    animation: fadeIn 2s;
}

#joey_main {
    background-image: url("./images/joey_meatball_sub.png");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    animation: fadeIn 2s;
}

#chandler_main {
    background-image: url("./images/chandler_duck.png");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    animation: fadeIn 2s;
}

#ross_main {
    background-image: url("./images/ross_fossil.png");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    animation: fadeIn 2s;
}

@media(min-width: 600px) {
    .menu_bars {
        display: none;
    }
    .nav-container {
        flex-direction: column;
    }
    .nav_list {
        display: flex;
        flex-direction: row;
        height: auto;
        margin: 15px;
    }
    nav ul li {
        margin: 0 15px;
    }

    #intro, #bio {
        margin: auto;
        max-width: 900px;
    }
    .skip a:focus {
        top: 20px;
    }
}

/* when the screen is larger than 600px */
@media(min-width: 1000px) {
    .nav-container {
        flex-direction: row;
    }
    .skip a:focus {
        top: 80px;
    }
}

/* when the user prefers reduced motion. */
@media (prefers-reduced-motion: reduce) {
    #main {
        animation: none;
    }
    #rachel_main {
        animation: none;
    }
    #monica_main {
        animation: none;
    }
    #phoebe_main {
        animation: none;
    }
    #joey_main {
        animation: none;
    }
    #chandler_main {
        animation: none;
    }
    #ross_main {
        animation: none;
    }
    .character-menu img:hover {
        transform: none;
        margin-bottom: 0;
    }
    .character-name::after {
        transition: none;
    }
    .character-menu img {
        margin: 0;
        transition: none;
    }
    .skip a {
        transition: none;
    }
}